@media (max-width: 378px) {
  .container {
    padding: 10px 24px 28px 24px;

    & label {
      display: flex;
      flex-direction: column;
    }

    & .titleWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0;
    }
    & .title,
    .subtitle {
      text-align: center;
    }

    .loginSection {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0;
    }
    label {
      font-size: 14px;
      font-weight: 600;
    }
    .inputBox {
      width: 100%;
      height: 52px;
      background-color: #f6f6f6;
      padding: 15px 16px;
      border-radius: 12px;
    }
    .loginSubOptions {
      display: flex;
      justify-content: space-between;
      padding: 17px 0 24px 0;
    }

    .remembermeWrapper {
      display: flex;
      gap: 8px;
      color: #78828a;
      font-size: 14px;
      font-weight: 400;
      & input {
        display: none;
      }
    }
    .rememberme {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #78828a;
      transition: all 0.2s ease;
    }
    input:checked + span {
      background-color: #0070f3;
      border-color: #0070f3;
    }
    input:checked + span::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      background: white;
      border-radius: 50%;
    }

    .forgetPassword {
      color: #f41f52;
      font-weight: 400;
    }

    .signInButton {
      width: 327px;
      height: 56px;
      color: white;
      border-radius: 12px;
      background-color: #2853af;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }

    .moreOptions {
      padding: 24px 0;
    }
    .joinOption {
      display: flex;
      gap: 10px;
      font-weight: 600;
      font-size: 16px;
      justify-content: center;
    }

    .joinGuide {
      color: #78828a;
    }
    .joinButton {
      color: #2853af;
    }

    .moreOptionsDivider {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 24px 0;
      color: #9ca4ab;

      & :before {
        content: "";
        position: absolute;
        left: 37px;
        top: 37px;
        width: 62px;
        height: 1px;
        background-color: #e9ebed;
      }
      & :after {
        content: "";
        position: absolute;
        right: 37px;
        top: 37px;
        width: 62px;
        height: 1px;
        background-color: #e9ebed;
      }
    }

    .socialButtons {
      display: flex;
      & button {
        width: 72px;
        height: 48px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
      gap: 24px;
      justify-content: center;
    }

    .guide1,
    .guide2 {
      font-size: 16px;
      font-weight: 400;
      color: #78828a;
      text-align: center;
      & a {
        color: #171725;
      }
    }
  }
}
