@media (max-width: 426px) {
  .otpNumbers {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-bottom: 40px;

    & .otpInput {
      background-color: #f6f6f6;
      width: 56px;
      height: 56px;
      border-radius: 24px;
      text-align: center;
      font-weight: 700;
      font-size: 24px;
    }
  }
}
