@media (max-width: 426px) {
  .detailReserveWrap {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.titleContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 8px 0;
  }
  .back {
    transform: translateX(20px);
  }
  .titleContainer .title01 {
    font-size: 20px;
    color: #333333;
  }
  .titleContainer .more {
    margin-right: 10px;
  }
  .detailReserveWrap .reserveSelectContainer {
    margin: 64px 0;
  }
  .reserveSelectContainer .orderContainer {
    padding: 0 20px;
  }
  .orderContainer .tit {
    font-weight: bold;
  }
  .orderContainer .date {
    font-size: 13px;
    color: #929292;
  }
  .reserveSelectContainer .productContainer {
    margin: 16px auto;
    padding: 12px;
  }
  .productContainer .hotelData {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 12px 18px 12px;
  }
  .hotelData .headerTit {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .hotelData .status {
    display: inline;
    border: 1px solid #2853AF;
    border-radius: 4px;
    padding: 1px 3px;
    color: #2853AF;
    font-size: 10px;
    font-weight: 600;
  }
  .productContainer .hotelName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .productContainer .hotelSubInfo {
    display: inline-flex;
  }
  .hotelSubInfo .hotelImg {
    border-radius: 6px;
    margin-right: 6px;
  }
  .productContainer .hotelInfo {
    font-size: 13px;
  }
  .hotelInfo .roomName {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  .hotelInfo .roomDate span {
    color: #e5e5e5;
  }
  .hotelInfo .roomCheckTime {
    color: #929292;
    font-size: 12px;
  }
  .hotelInfo .roomCheckTime span {
    color: #e5e5e5;
  }
  .hotelInfo .roomPerson {
    color: #929292;
    font-size: 12px;
  }
  .productContainer .infoData {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 18px;
    padding: 12px 12px 18px 12px;
  }
  .productContainer .userData {
    padding-left: 2px;
  }
  .userData .tit {
    font-weight: bold;
    font-size: 16px;
  }
  .userData .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 4px;
  }
  .userData .name div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .userData .name div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .userData .phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding-left: 4px;
  }
  .userData .phone div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .userData .phone div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .productContainer .reserveData {
    margin-top: 24px;
    padding-left: 4px;
  }
  .reserveData .tit {
    border-top: 1px solid #ccc;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 0 8px 0;
  }
  .reserveData .reserve {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 2px;
  }
  .reserveData .reserve div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .reserveData .reserve div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .reserveData .payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding-left: 2px;
  }
  .reserveData .payment div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .reserveData .payment div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .productContainer .paymentData {
    margin-top: 24px;
    padding-left: 4px;
  }
  .paymentData .tit {
    border-top: 1px solid #ccc;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 0 8px 0;
  }
  .paymentData .originalPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding-left: 2px;
  }
  .paymentData .originalPay div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .paymentData .originalPay div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .paymentData .discountPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding-left: 2px;
  }
  .paymentData .discountPay div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .paymentData .discountPay div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .paymentData .totalPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
  .paymentData .totalPay div:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
  }
  .paymentData .totalPay div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
  }
  .productContainer .reserveCancel {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 18px;
    padding: 12px 12px 18px 12px;
  }
  .reserveCancel .tit {
    font-weight: bold;
    font-size: 16px;
  }
  .reserveCancel .notice {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    margin: 12px 0 ;
  }
  .reserveCancel .notice span {
    font-weight: bold;
  }
  .reserveCancel .notice span img {
    transform: translateY(3px);
  }
  .reserveCancel .cancelInfo {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    font-size: 14px;
  }
  .cancelInfo .productName {
    font-weight: bold;
  }
  .cancelInfo .date {
    font-size: 13px;
    color: #929292;
  }
  .cancelInfo .cancelReason {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  .cancelInfo .cancelReason div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .cancelInfo .cancelReason div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    padding-left: 4px;
    font-weight: bold;
  }
  .reserveCancel .cancelTit {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 0;
  }
  .reserveCancel .originalPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .reserveCancel .originalPay div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .reserveCancel .originalPay div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .reserveCancel .discountPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
  }
  .reserveCancel .discountPay div:nth-child(1) {
    color: #929292;
    font-size: 13px;
  }
  .reserveCancel .discountPay div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .reserveCancel .commissionPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
  }
  .reserveCancel .commissionPay div:nth-child(1) {
    display: flex;
    align-items: center;
    color: #929292;
    font-size: 13px;
  }
  .reserveCancel .commissionPay div:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
  }
  .productContainer .commissionBubble {
    position: absolute;
    padding: 8px 12px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    background-color: #313030;
    opacity: 0.85;
    color: #ffffff;
    width: 70%;
  }
  .reserveCancel .cancelPay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
  .reserveCancel .cancelPay div:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
  }
  .reserveCancel .cancelPay div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
  }
  .productContainer .detailReserveBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px auto 0 auto;
    width: 96%;
  }
  .detailReserveBtn .homeBtn {
    border: 1px solid #2853AF;
    border-radius: 4px;
    color: #2853AF;
    width: 44%;
    height: 44px;
    line-height: 30px;
    padding: 4px 12px;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 12px;
    background-color: #ffffff;
    font-weight: bold;
  }
  .detailReserveBtn .cancelBtn {
    border: 1px solid #bebcbc;
    border-radius: 4px;
    background-color: #bebcbc;
    color: #ffffff;
    width: 44%;
    height: 44px;
    line-height: 30px;
    padding: 4px 12px;
    margin-right: 10px;
    font-weight: bold;
  }
  .detailReserveBtn .cancelBtnActive {
    border: 1px solid #2853AF;
    background-color: #2853AF;
  }
  .content01 {
    font-size: 12px;
    padding: 16px 6px;
  }
  .content01 .line {
    display: flex;
    margin-bottom: 5px;
  }
  .content01 .line div:nth-child(1) {
    margin-right: 4px;
  }
  .content01 .tit {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .content02 {
    font-size: 12px;
    padding: 16px 6px;
  }
  .content02 .line {
    display: flex;
    margin-bottom: 5px;
  }
  .content02 .line div:nth-child(1) {
    margin-right: 4px;
  }
  .content02 .tit {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}