@media (max-width: 426px) {
  .signInButton {
    width: 327px;
    height: 56px;
    color: white;
    border-radius: 12px;
    background-color: #2853af;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
}
